<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Главная Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Остальные Activity -->
        <activity android:name=".RegisterActivity" />
        <activity android:name=".AdminDashboardActivity" />
        <activity android:name=".AdminRequestsActivity" />
        <activity android:name=".AdminUsersActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".ExecutorDashboardActivity" />
        <activity android:name=".ClientDashboardActivity" />
        <activity android:name=".CreateRequestActivity" />
        <activity android:name=".RequestDetailActivity" />

    </application>

</manifest>
